.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font);
  font-variation-settings: 'wght' var(--text-weight);
  font-size: 18px;
  min-height: 100vh;
  background-image: var(--page-bg-image);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__card {
  height: var(--header-card-heigth);
  width: var(--card-width);
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 100px;
  border: 2px solid #000000;
}

main {
  margin-top: 100px;
}

.card {
  width: var(--card-width);
  background-color: #FFFFFF;
  margin-bottom: 50px;
  border: 2px solid #000000;
  display: grid;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
    "title"
    "image"
    "content"
    "buttons";
}

.card__title {
  grid-area: title;
  align-content: center;
  padding-left: 10px;
}

.card__image-and-label {
  position: relative;
}

.card__image {
  width: 100%;
  border: 2px 0 2px 0 solid #000000;
  grid-area: image;
}

.card__label {
  position: absolute;
  top: 25px;
  right: clamp(0.813rem, 0.813rem + 0.0369 * (100vw - 23.438rem), 1.563rem);
  font-family: var(--label-family);
  font-weight: var(--label-weight);
  font-size: var(--label-size);
  text-shadow: 
    -1px -1px 0 #FFFFFF,
     1px -1px 0 #FFFFFF,
    -1px  1px 0 #FFFFFF,
     1px  1px 0 #FFFFFF;
  opacity: 0.5;
  mix-blend-mode: hard-light;
}

@supports (-webkit-text-stroke: 1px #fff) {
  .card__label {
    -webkit-text-stroke: 1px rgb(255 255 255 / 0.5);
  }
}

.first-image {
  filter: blur(0.2rem);
}

.second-image {
  filter: contrast(1000%);
}

.third-image {
  filter: brightness(50%);
}

.fourth-image {
  filter: opacity(0.8);
}

.fifth-image {
  filter: grayscale(1);
}

.seventh-image {
  filter: saturate(1000%);
}

.eighth-image {
  filter: hue-rotate(-90deg);
}

.card__content {
  padding: 25px 25px 0;
  grid-area: content;
}

.card__text {
  margin-bottom: 27px;
}

.card__buttons {
  grid-area: buttons;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 25px;
  margin-top: 25px;
  gap: 5px;
}

.card__icon-button {
  width: 39px;
  height: 36px; 
  border: 2px solid transparent;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  transition: border-color 0.3s ease;
}

.card__icon-button:focus-visible {
  border-color: #000000;
}

.card__icon-button:focus {
  outline: none;
}

.like-icon {
  width: 100%;
  height: 100%;
}

.contour {
  fill: #000000;
  transition: fill 0.1s;
}

.core {
  fill: transparent;
  transition: fill 0.3s 0.03s;
}

.main-body {
  fill: transparent;
  transition: fill 0.3s 0.05s;
}

.like-icon:hover .core {
  fill: #000000;
}

.like-icon:hover .main-body {
  fill: #000000;
}

.like-icon:active .core {
  fill: #FF0000;
}

.like-icon:active .main-body {
  fill: #FF0000;
}

.like-icon.is-liked .core {
  fill: #FF0000;
  transition: fill 0.3 0s;
}

.like-icon.is-liked .main-body {
  fill: #FF0000;
}

.like-icon.is-liked .contour {
  fill: #FF0000;
}

.sparks {
  opacity: 0;
  fill: transparent;
}

.like-icon.is-liked .sparks {
  animation: is-like-sparks 0.3s 0.3s ease-in;
  fill: #FF0000;
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: is-like-heart 0.3s 0.1s ease-in alternate;
}

.card__like-button {
  position: relative;
  overflow: hidden;
  width: 130px;
  height: 38px;
  background-color: var(--button-bg-color);
  border: 2px solid var(--accent-color);
  cursor: pointer;
  margin-right: 25px;
}

.card__like-button:focus {
  outline: none;
}

.card__like-button:focus-visible {
  box-shadow: 2px 2px 0 2px var(--accent-color);
  outline: none;
  transition: box-shadow 0.3s ease;
}

.card__like-button::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--accent-color);
  transform: scaleX(0);
  transform-origin: left center;
  transition: transform 0.5s ease-in-out;
  z-index: 1;
}

.card__like-button:hover::before {
  transform: scaleX(1);
}

.card__like-button .button__text {
  position: relative;
  color: var(--button-text-color);
  font-size: var(--button-text-size);
  font-family: var(--button-text-family);
  font-weight: var(--buttons-text-weight);
  mix-blend-mode: difference;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.button {
  position: relative;
  overflow: hidden;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 55px;
  align-content: center;
  gap: 8px;
  width: clamp(19.125rem, 15.293rem + 16.353vw, 20.938rem);
  background-color: var(--button-bg-color);
  border: 2px solid var(--accent-color);
  cursor: pointer;
}

.button:focus {
  outline: none;
} 

.button:focus-visible {
  box-shadow: 2px 2px 0 2px var(--accent-color);
  outline: none;
  transition: box-shadow 0.3s ease;
} 

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--accent-color);
  transform: scaleX(0);
  transform-origin: left center;
  transition: transform 0.5s ease-in-out;
  z-index: 1;
}

.button:hover::before {
  transform: scaleX(1);
  fill: white;
}

.button__icon {
  width: 21px;
  height: 21px;
  position: relative;
  mix-blend-mode: difference;
  z-index: 2;
  transition: fill 0.5s ease-in-out;
  fill: white;
}

.button__text {
  position: relative;
  color: var(--button-text-color);
  font-size: var(--button-text-size);
  font-family: var(--button-text-family);
  font-weight: var(--buttons-text-weight);
  mix-blend-mode: difference;
  z-index: 2;
}

.dialog {
  padding: 0;
  border: 2px solid #000000;
  background-color: #FFFFFF;
  height: 191px;
  width: clamp(341px, calc(341px + (100vw - 375px) * 0.01127), 353px);
}

.dialog[open] {
  display: grid;
  grid-template-rows: 63px 38px;
  gap: 30px;
  grid-template-areas: 
  "content-text"
  "button";
}

.dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.dialog__content {
  grid-area: content-text;
  width: clamp(257px, calc(257px + (100vw - 375px) * 0.033803), 293px);
  justify-items: center;
  display: grid;
  grid-template-columns: 39px 1fr;
  grid-template-areas: "floppy" "text";
  gap: 20px;
  margin-top: 30px;
  margin-left: clamp(30px, calc(42px - (100vw - 375px) * 0.0112676), 42px);
}

.dialog__icon {
  width: 39px;
  height: 39px;
  margin-top: 12px;
  fill: #000000;
}

.dialog__title {
  color: #000000;
}

.dialog__button {
  position: relative;
  overflow: hidden;
  width: clamp(257px, calc(257px + (100vw - 375px) * 0.033803), 293px);
  grid-area: button;
  margin-left: clamp(30px, calc(42px - (100vw - 375px) * 0.0112676), 42px);
  background-color: var(--button-bg-color);
  border: 2px solid var(--accent-color);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 38px;
}

.dialog__button:focus-visible {
  box-shadow: 2px 2px 0 2px var(--accent-color);
  outline: none;
  transition: box-shadow 0.3s ease;
}

.dialog__button::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--accent-color);
  transform: scaleX(0);
  transform-origin: left center;
  transition: transform 0.5s ease-in-out;
  z-index: 1;
}

.dialog__button:hover::before {
  transform: scaleX(1);
}

.dialog__button .button__text {
  position: relative;
  z-index: 2;
  mix-blend-mode: difference;
}

@media (width <= 375px) {
  .card {
    width: 100%;
  }

  .header__card {
    width: 100%;
  }
}