/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --page-bg-image: 
    repeating-linear-gradient(to right, #d3d3d3 0 2px, transparent 2px 4px),
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
    --card-width: clamp(320px, 26.042vw + 187.5px, 700px);
    --bg-color: #FFFFFF;
    --header-card-heigth: clamp(12.5rem, 12.5rem + 0.517 * (100vw - 23.438rem), 23rem);
    --text-weight: 400;
    --title-weight: 785;
    --header-title-weight: 400;
    --header-title-h1-size: clamp(2.5rem, 2.5rem + 0.0492 * (100vw - 20rem), 4.063rem);
    --header-title-h2-size: clamp(0.75rem, 0.75rem + 0.0277 * (100vw - 20rem), 1.438rem);
    --header-title-family: 'PressStart2P-Regular', fantasy;
    --label-family: 'PressStart2P-Regular', fantasy;
    --label-size: 14px;
    --label-weight: 400;
    --main-family: 'Inter-Variable';
    --dialog-text-family: 'PressStart2P-Regular', fantasy;
    --dialog-text-weight: 400;
    --dialog-text-size: 14px;
    --dialog-title-height: 150%;
    --button-text-family: 'PressStart2P-Regular', fantasy;
    --button-text-size: 14px;
    --buttons-text-weight: 400;
    --button-text-color: #FFFFFF;
    --accent-color: #000000;
    --button-bg-color: #FFFFFF;
    --contour-color: #000000;
    --main-body-color: #FF0000;
    --core-color: #000000;
    --animation-fill-color: #FF0000;
}